
*{
  margin: 0;
  padding: 0;
  color: rgb(129, 127, 255);
  box-sizing: border-box;
  font-family: 'Montserrat' , sans-serif;
}
 nav{
     background: #034b68;
     padding: 10px 40px 10px 70px;
     border: blue;
    border-left: none;
    border-right: none;

 }
 nav ul{
     display: flex;
     list-style: none;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
 }




/* Starts here -> for automatic serial number in patient1.html table */
table#team-list {
    counter-reset: rowNumber;
}

table#team-list tr:nth-child(n+1) {
    counter-increment: rowNumber;
}

table#team-list tr:nth-child(n+1) td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
/*--Ends here -> for automatic serial number in patient1.html table */

/*for searchbar at the navbar*/

/*******************************************/
section{
    height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #302c2c;
}
.right-side{
    height: 100vh;
   
}
/*div class left side*/
.left-side{
    background: gray;
}

/*div class right-side*/
.right-side{
    background: linear-gradient(to right,rgb(8, 203, 238),#ffffff);
}
/********************************/

*{
    box-sizing: border-box;
    border: black;

}

.content-table{
    width: 100%;
    border-collapse: collapse;
}

.content-table td, .content-table th{
    padding:  12px 15px;
    border: 1px solid #034b68;
    text-align: center;
    font-style: 16px;
}

.content-table th{
    background-color: rgb(107, 227, 139);
    color: #ffffffff;
}

.content-table tbody tr:nth-child(even){
    background-color: #f5f5f5;
}